{% extends 'base.html' %}

{% block title %}Urban Trail Planner{% endblock %}

{% block content %}



<!-- add information and image of trailmap -->

<div class="row">
    <div class="col-md-5">
        <h2 class="display-5">Welcome to The Urban Trail Planner</h2>
        <p class="lead">Design a route for walking in an urban setting.  Determine estimated walking time and distance</p>
        
        <h1 class="display-6 mt-3">How to get started</h1>
        <p>Step 1: Use the map tools to pan and zoom to a desired area</p>
        <p>Step 2: Select the polyline tool <span class="inline-block"><svg class='icon'><use xlink:href='#icon-polyline'/></svg></span> tool from the toolbar</p>
        <p>Step 3: Move pointer start location on the map</p>
        <p>Step 4: Then click along a the desired route, following roads & trails</p>
        <p>Step 5: At the end hover mouse over the blue dot and click</p>
        <p>(Mapbox will draw an optimized route returning distance & time)</p>
        <p>Step 6: Review the route.</p>
        <p>Step 7: To delete route, select trash button <span class="inline-block"><svg class='icon'><use xlink:href='#icon-trash'/></svg></span> tool from the toolbar</p>
        <p>Step 8: Repeat Steps 1 thru 7 until you have the Urban Trail you want</p>
        
        
        <h2 class="display-6 mt-3">Registering on this site allows:</h2>
        <ul>
            <li>Storing your designed routes</li>
            <li>Managing stored routes</li>
        </ul>
        
        

    </div>
</div>

{% endblock %}