{% extends 'base.html' %}

{% block title %}Urban Trail Planner{% endblock %}

{% block content %}



<!-- add information and image of trailmap -->

<div class="row">
    <div class="col-md-5">
        <h1 class="display-3">Welcome to The Urban Trail Planner</h1>
        <p>This site allows you to plot routes for walking in urban areas.  You can design a route and determin estimated walking time and distance</p>
        <p>Registering on this site allows:</p>

        <ul>
            <li>Storing you designed routes</li>
            <li>Recalling stored routes</li>
            <li>Adding notes to a route</li>
            <li>Store an address as a starting location</li>
        </ul>
        <h1 class="display-5">Designing a route</h1>
        <p>Use the map tools to pan and zoom to a desired area</p>
        <p>The bottom two icons are the drawing tool and trash to delete a route</p>
        <p>Activate the drawing tool. Then click along the disired route</p>
        <p>At the end move the cursur over the last location.  It will highlite.</p>
        <p>Then click this location and it will generate an optimized route</p>
        <p>Note the information window will display direction, distance and time</p>
        <p>Use the trash button to delete the trail and create another</p>
        <p>Save the desired (Registered Users Only)</p>
        

    </div>
</div>

{% endblock %}